aioredis==1.0.0
amqp==2.2.2
asgi-redis==1.4.3
asgiref==2.1.6
async-timeout==2.0.0
attrs==17.4.0
autobahn==17.10.1
Automat==0.6.0
billiard==3.5.0.3
celery==4.1.0
channels==2.0.2
channels-redis==2.0.3
constantly==15.1.0
daphne==2.0.3
decorator==4.2.1
Django==2.0.2
gevent==1.2.2
greenlet==0.4.13
hiredis==0.2.0
hyperlink==17.3.1
incremental==17.5.0
ipython==6.2.1
ipython-genutils==0.2.0
jedi==0.11.1
kombu==4.1.0
msgpack==0.5.4
msgpack-python==0.5.4
parso==0.1.1
pexpect==4.4.0
pickleshare==0.7.4
prompt-toolkit==1.0.15
ptyprocess==0.5.2
Pygments==2.2.0
pytz==2018.3
redis==2.10.6
simplegeneric==0.8.1
six==1.11.0
traitlets==4.3.2
Twisted==17.9.0
txaio==2.8.2
vine==1.1.4
wcwidth==0.1.7
websocket==0.2.1
websockets==4.0.1
zope.interface==4.4.3
